# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.o
*.out
*.exe
*.obj
*.dll
*.so
*.a
*.dSYM/
build/
cmake-build-debug/
cmake-build-release/